{
  "apps": {
    "example": {
      "shortname": "example",
      "prettyname": "Example Application",
      "envs": {
        "dev": {
          "kmskey": "KMS GUID or blank"
        },
        "test": {
          "kmskey": "KMS GUID or blank"
        },
        "prod": {
          "kmskey": "KMS GUID or blank"
        }
      }
    }
  }
}
